<h1>contacts</h1>

<table>
  <tr>
    <th>Nickname</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Fbuid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contacts.each do |contact| %>
  <tr>
    <td><%= contact.nickname %></td>
    <td><%= contact.email %></td>
    <td><%= contact.phone %></td>
    <td><%= contact.fbuid %></td>
    <td><%= link_to 'Show', contact %></td>
    <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
    <td><%= link_to 'Destroy', contact, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contact', new_contact_path %>

<h1>Fun club</h1>
<div>
	<iframe src="http://www.facebook.com/plugins/like.php?href=<%= ApplicationHelper.FB_CANVAS %>&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;font&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
</div>