<br/>
<div class='misaleheader curvy-five shadow-light-green top-line-bluegreen top-line-bluegreen-ten'>
<%= simple_form_for(challenge) do |f_challenge| %>
    <% if challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(challenge.errors.count, "error") %> prohibited this challenge from being saved:</h2>

      <ul>
      <% challenge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  	<ol>
	<% f_challenge.fields_for :categorizations do |f_categorization| %>
		<%= render 'categorization_fields', :f => f_categorization %>
	<% end %>
	</ol>
	<%= render :partial => 'contacts/contact' %>
	<div class="actions">
		<%= f_challenge.button :submit, :value => 'submit', :class => 'actionButton' %>
	</div>
<% end %>
</div>