<%= simple_form_for(@challenge) do |f| %>
  <% if @challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@challenge.errors.count, "error") %> prohibited this challenge from being saved:</h2>

      <ul>
      <% @challenge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name, :label => 'Title'%>
  <%= f.input :note, :row => 3 %>
  <br/>
  <%= f.collection_radio :status,  [[0, 'Created'],[1, 'Active'], [3, 'Closed']], :first, :last, :label => 'Status' %>
  <br/><br/>
  <div>
  	<b>Misales in the challenge</b>
  	<% f.fields_for :categorizations do |builder| %>
		<%= builder.association :misale, :label => false %>
		<%= builder.input :position, :collection => 1..5, :include_blank => false, :label => false %>
		<br/>
	<% end %>
  </div>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
