<% unless misale.illustration.empty? then %>
	<div>
	 	<img id='illustration' misale='<%= misale.head %>' align='right' class='<%= @fetan ? "hidden" : "" %>' src='<%= misale.illustration %>' alt='illustration'/>
	</div>
<% end %>
<div misale='<%= misale.head %>' class='<%= @fetan ? "hidden" : "" %>'>
	<% for categorization in misale.categorizations %>
		<div class='section_header'><%= ApplicationHelper.get_value(:responses, :responses)  %>:</div>
		<div class='comment'>
		<% for answer in categorization.answers %>
			<%= answer.contact.nickname %>    [<%= answer.created_at.to_date %>]
					<div class="comment-bubble">
						<%= answer.response %>
					  <div class="comment-bubble-arrow"></div>
					</div>
		<% end %>
		</div>
	<% end %>
</div>