<div misale='<%= misale.head %>' class='<%= @fetan ? "hidden" : "" %>'>
	<% for categorization in misale.categorizations %>
		<%#<div class='section_header'><%= ApplicationHelper.get_value(:responses, :responses)  >:</div>%>
		<div class='comment'>
		<% for answer in categorization.answers %>
			<%= render :partial => 'contacts/user', :locals => {:u => answer.contact, :d => answer.created_at } %>
			<div class="comment-bubble">
				<%= misale.head %>&nbsp;<u><%= answer.response %></u>
				<div class="comment-bubble-arrow"></div>
			</div>
		<% end %>
		</div>
	<% end %>
</div>