<div misale='<%= misale.head %>' class='<%= @fetan ? "hidden" : "" %>'>
<u><%= ApplicationHelper.get_value(:comments, :comments) %>:</u>
<br/><br/>
<div class='comments'>	
	<%= simple_form_for(misale) do |f| %>
		<% f.fields_for :comments do |builder| %>
			<% if builder.object.new_record? %>
				<p>
					<%= render 'contacts/contact', :f => builder %>
					<%= builder.hidden_field :contact_id %>
					<%= builder.input :comment %>
				</p>
			<% else %>
				<%= builder.object.contact.nickname %>    [<%= builder.object.created_at.to_date %>]
				<div class="comment-bubble">
					<%= builder.object.comment %>
				  <div class="comment-bubble-arrow"></div>
				</div>
			<% end %>
		<% end %>
	
		<div class="actions">
			<%= f.button :submit, :value => 'submit' %>
		</div>
	<% end %>
</div>

</div>