<%= simple_form_for(@misale) do |f| %>
	<%= render :partial => 'error', :locals => {:misale => @misale} %>
	
    <%= f.input :head %>
	<%= f.input :tail %>
    <%= f.input :illustration %>
    <%= f.input :tag %>
    <%= f.input :ye %>
    <%= f.input :ne %>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
