<div>
	<div align='center' class='itemContent'>
		<div class='misaleheader curvy-five shadow-light-green top-line-bluegreen top-line-bluegreen-ten' misale='<%= misale.head %>'>
			<div class='fetan right'><%= render :partial => 'misales/fetan' %></div>
			<div class='itemid' style='display:none;'>#<%= misale.id %></div>
			<div style='text-align:center;'>
				<span class='geeztext headtext'><%= misale.head %></span>
				<span class='geeztext tailtext questionmark <%= @fetan ? "" : "fetanHidden" %>' misale='<%= misale.head %>' onclick='javascript:revealMisale(this, "fetanHidden", <%= misale.id %>)'>???</span>
				<span id='tail_<%= misale.id %>' class='geeztext tailtext <%= @fetan ? "fetanHidden" : "" %>'><%= misale.tail %></span>
				<br/><br/>
				<% unless misale.illustration.empty? then %>
					<div id='illustration_<%= misale.id %>' class='<%= @fetan ? "illustration fetanHidden" : "illustration" %>'>
						<% if misale.illustration.index('http://www.youtube.com').nil? then %>
							<img width='300px' misale='<%= misale.head %>' align='middle' src='<%= misale.illustration %>' alt='illustration'/>
						<% else %>
							<iframe title="YouTube video player" width="480" height="390" src='<%= misale.illustration %>' frameborder="0" allowfullscreen></iframe>
					 	<% end %>
						<br/>
						<span class='illustrationurl'>source: <%= misale.illustration %></span>
					</div>
				<% end %>
				<div id='share_<%= misale.id %>' class='contentActionLinks'>
					<%#= link_to ApplicationHelper.get_value(:link, :link), misale %>
					<% if @admin then %>
						<%= link_to ApplicationHelper.get_value(:edit, :edit), edit_misale_path(misale) %>
					<% end %>
					<span class="comment-count-bubble">
						<%= link_to misale.comments.count , misale %>
					  	<span class="comment-count-bubble-arrow"></span>
					</span>
					<%= render :partial => 'misales/fbPost', :locals => { :misale => misale } %>
					<%= render :partial => 'misales/tweetThisContent', :locals => { :misale => misale } %>
				</div>
			</div>
		</div>
	</div>
</div>