<div>
  <div class='geeztext'><%= misale.head %><div>
  <div class='geeztext tailtext'><%= misale.tail %></div>
</div>

<div>
  <b>Tag:</b>
  <%= misale.tag %>
  &nbsp;&nbsp;&nbsp;
  <b>Ye:</b>
  <%= misale.ye %>
  &nbsp;&nbsp;&nbsp;
  <b>Ne:</b>
  <%= misale.ne %>
</div>

<% unless misale.illustration.empty? then %>
	<div>
	 	<img id='illustration' src='<%= misale.illustration %>' alt='illustration'/>
	</div>
<% end %>

<% for categorization in misale.categorizations %>
	<b>responses:</b>
	<ol>
	<% for answer in categorization.answers %>
		<li><%= "[#{answer.contact.nickname}] #{answer.response}" %></li>
	<% end %>
	</ol>
<% end %>

<div>
    <%= link_to 'link', misale %>
	<%= link_to 'edit', edit_misale_path(misale) %>
    <%= link_to 'comments', misale %>
</div>


<br/>
<hr/>