<p id="notice"><%= notice %></p>

<%= render :partial => 'error', :locals => {:misale => misale} %>

<%= render :partial => "minishow", :locals => { :misale => misale } %>

<div class='misaleBody' >
	<%= render :partial => 'misales/answers', :locals => { :misale => misale } %>
	<br/>
	<%= render :partial => "misales/comment", :locals => { :misale => misale  } %>
</div>

