<!DOCTYPE html>
<html>
  <head>
    <title><%= ApplicationHelper.APPLICATION_NAME %></title>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'http://platform.twitter.com/widgets.js', 'http://connect.facebook.net/en_US/all.js', 'https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js', 'https://www.google.com/jsapi?key=ABQIAAAAxL9s1Fj_nPKf1uO3mmsrahTJQa0g3IQ9GZqIMmInSLzwtGDKaBTgu1i2DaKiAVk2NKmUfb01lk8ulw', 'application' %>
  <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="page">
      <div>
        <div style='clear:both;border-bottom:3px solid #EE2B76;height:30px;'>
	    	<div class='navmenu'>
				<div class='navmenuitem curvy-five'><%= link_to ApplicationHelper.get_value(:misales, 'Misales') , misales_path %></div>
				<div class='navmenuitem curvy-five'><%= link_to ApplicationHelper.get_value(:challenges, 'Challenges'), challenges_path %></div>
				<div class='navmenuitem curvy-five'><%= render :partial => 'misales/fetan' %></div>
			</div>
			<div class='search'>
				<%= render :partial => 'misales/search' %>
			</div>
        </div>
		<div class='utillinks'>
			<input id='btn_faq' type='button' style='float:right;font-weight:bold' class='faq' onclick='javascript:window.open("/faq.html", "FAQ","height=400,width=800")' value='?'/>
			<a href='#' onclick='javascript:inviteFriends()' style='float:right'>invite friends</a>
		</div>
		<div id='inlineAlert' style='display:none;'></div>
		<div style='clear:both;'>
			<%= yield %>
		</div>
         
      </div>

      <div id="footer">
  	      
      </div>
      <div id="fb-root"></div>
    </div>
  </body>
</html>

